# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env — NUNCA commitar credenciais
.env
.env.local
.env.*.local

# banco local
data/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
